
body {
    color: yellow;
    background-color: hsla(210, 90%, 27%, 0.816);
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    width: 50%;
    margin: 0 auto;
}

.cabecera {
    display: flex;
}

h1, h3 {
    color: rgb(209, 209, 30);
    text-align: center;
}

h4, p, li {
    color: white;
}

h2 {
    color:rgb(209, 209, 30);
}

.tabla-datos{
    margin: 0 auto;
    width: 80%;
}

td {
    width: 50%;
}

ol {
    list-style: none;
}

#perfil {
    text-align: justify;
}

.nombre {
    text-align: center;
}



