/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*==================== VARIABLES CSS ====================*/

:root{
    --header-height: 3rem;

    /* Colors */
    --hue-color: 210 ;

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /* Font and typography */
    --body-font: 'Poppins', sans-serif ;

    /* .5rem = 8px , 1 rem = 16px, 1.5rem = 24px ...*/
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --font-medium : 500;
    --font-semi-bold: 600;

        /* Margenes bottom */
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}

/* Font size for large diveces */

@media screen and (min-width: 968px){
    :root{
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme{
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color),29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*========== Button Dark/Light ==========*/
.nav__btns{
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}


/*==================== BASE ====================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);

}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section{
    padding: 2rem 0 2rem;
}

.section__title{
    font-size: var(--h1-font-size);
}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle{
    text-align: center;
}

/*==================== LAYOUT ====================*/

.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}



/*==================== HOME ====================*/

.home__content{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__data{
    text-align: center;
}

.home__title{
    font-size: var(--big-font-size);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
    margin-top: var(--mb-0-75);
    letter-spacing: 2px;
}
.home__blob{
    width: 200px;
    fill: var(--first-color);
}

.home__blog-img{
    width: 170px;
}

.home__hr{
    height: 2px;
    background-color: var(--first-color);
    margin-top: var(--mb-2-5);
    margin-bottom: var(--mb-2-5);
    border: 0;
    opacity: .6;
}

.home__description{
    margin-bottom: var(--mb-2);
}

/*==================== CONTACT ME ====================*/

.data__contact{
    display: flex;
    margin-bottom: var(--mb-0-75);
    align-items: center;
}

.data__contact-icon{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.data__contact-title{
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
}

/*==================== SKILLS ====================*/

.data__container{
    row-gap: 0;
}

.data__header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
}

.skills__icon,
.skills__arrow{
    font-size: 2rem;
    color: var(--first-color);
}

.data__title{
    font-size: var(--h3-font-size);
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: var(--mb-1);
}

.skills__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.data__description{
    text-align: left;
    font-size: var(--small-font-size);
}

.data__skills{
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem;
    overflow: hidden;
}

.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
/*==================== QUALIFICATION ====================*/
.qualification__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover{
    color: var(--first-color);
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.data__qualification{
    display: flex;
    column-gap: 1.5rem;
    overflow: hidden;
}

.data__qualification-title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.data__qualification-subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);

}

.data__qualification-calendar{
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin-bottom: var(--mb-0-5);
}

.data__qualification-rounder{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.data__qualification__rounder-inactive{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
    opacity: .3;
}



.data__qualification-line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.contact__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

/*==================== FOOTER ====================*/


.footer__container{
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: var(--first-color-second);
    padding: 2rem 0 3rem;
}


.footer__copy{
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--first-color-lighter);
}

.footer__title{
    color: #FFF;
}


/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px){
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home__content{
        grid-template-columns: .25fr 3fr;
    }

    .home__blob{
        width: 180px;
    }

    .skills__title{
        font-size: var(--normal-font-size);
    }

    .qualification__data{
        gap: .5rem;
    }
}

/* For medium devices */
@media screen and (min-width: 568px) {
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data{
        grid-column: initial;
    }

    .data__container,
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .qualification__sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section__subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }

   

    .home__container{
        row-gap: 5rem;
    }

    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .qualification__tabs{
        justify-content: center;
    }

    .qualification__button{
        margin: 0 var(--mb-1);
    }

    .qualification__sections{
        grid-template-columns: .5fr;
    }

    .footer__bg{
        padding: 3rem 0 3.5rem;
    }

    .footer__socials{
        justify-self: flex-end;
    }

    .footer__copy{
        margin-top: 2rem;
    }
}
/* For large devices */

@media screen and (min-width: 1024px){
    .header,
    .main,
    .footer__container{
        padding: 0;
    }

    .home__blob{
        width: 200px;
    }
}