body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}

li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

li:first-child {
  font-weight: bold;
}
