*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.divider{

    margin-top: 2rem;
    margin-bottom: 2rem;
    height: .1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 201, 201);
    border-radius: 50%;
}