
.dark_job {
    color: #ad0000;
    text-align: center;
    font-size: 4vw;
    margin: 0;
    margin-bottom: 2vh;

}

.dark_separator {
    width: 90%;
    height: 0.4vh;
    background-color: #000000;


}
.dark_contenedor {
    background-color: #000000;
}

.dark_title {
    color: #f30000;
}



.dark_parrafo {
    color: #33419b;
    text-align: justify;
    margin-right: 1vw;
}


.dark_circle {
    background: rgb(200, 0, 0);
    border-radius: 50%;
    width: 0.4vw;
    height: 1vh;
    margin-right: 0.5vw;
}
